* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  width: 100%;
  /* max-width: 600px; */
  margin-left: 420px;
  padding: 10px 15px;
}
.container > h2 {
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 8px;
  font-weight: 700;
  color: #111112;
}
.container > .fp {
  width: 550px;
  margin-bottom: 12px;
}
.container > img {
  width: 70px;
  height: auto;
  margin-top: 80px;
  margin-bottom: 10px;
  align-self: flex-start;
}
.signup-form > #name > label {
  display: block;
  margin: 6px -5px;
  font-size: 18px;
  font-weight: 600;
}
#name {
  margin-bottom: 18px;
}
#name > #first {
  width: 280px;
  height: 55px;
  border-radius: 10px;
  margin-right: 8px;
}
input:focus,
select:focus {
  border-color: #1877f2; /* Facebook blue border on focus */
}
#first::placeholder {
  padding: 5px 8px;
  font-size: 15px;
  color: #666a72;
}
#name > #surename {
  width: 280px;
  height: 50px;
  border-radius: 10px;
}
#name > #surename:focus {
  border: 1px solid #666a72;
}
#name > #surename:hover {
  color: #666a72;
  cursor: pointer;
  border: 1px solid #666a72;
}
#surename::placeholder {
  padding: 5px 8px;
  font-size: 15px;
}
#dob > label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
  margin: 10px -5px;
}
#dob > select {
  width: 178px;
  height: 50px;
  border-radius: 10px;
  margin-right: 15px;
  color: #666a72;
}
#dob > select > option {
  padding-right: 20px;
  font-size: 18px;
  border-radius: 10px;
  font-weight: 500;
}
#dob > select > .db {
  color: #666a72;
}
#dob > select:hover {
  border: 1px solid #666a72;
  cursor: pointer;
}
#dob > #select:focus {
  border: 2px solid #666a72;
}
#gender > label {
  display: block;
  margin: 10px -5px;
  font-weight: 600;
  font-size: 18px;
}
#gender > #gend {
  width: 580px;
  height: 50px;
  border-radius: 10px;
  color: #666a72;
}
#gender > select:hover {
  border: 1px solid #666a72;
  cursor: pointer;
}
#gender > select:focus {
  border: 2px solid #666a72;
}
#mob-email > label {
  display: block;
  margin: 10px -5px;
  font-weight: 600;
  font-size: 18px;
}
#mob-email > input {
  width: 580px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 12px;
  transition: all 0.3s ease;
}
#mob-email > input::placeholder {
  padding-left: 15px;
  font-size: 16px;
}
#mob-email > input:hover {
  border: 1px solid #666a72;
  cursor: pointer;
}
#mob-email > input:focus {
  border: 2px solid #666a72;
}
#mob-email > p {
  width: 580px;
  font-size: 17px;
  line-height: 1;
  margin-bottom: 15px;
}
#mob-email > p > a {
  text-decoration: none;
  color: #0064e0;
  transition: all 0.3s ease;
  font-size: 18px;
  font-weight: 600;
}
#mob-email > p > a:hover {
  text-decoration: underline;
}
#passwd > label {
  display: block;
  margin: 10px -5px;
  font-weight: 600;
  font-size: 18px;
}
#passwd > input {
  width: 580px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 15px;
}
#passwd > input::placeholder {
  padding-left: 15px;
  font-size: 17px;
}
#passwd > input:hover {
  border: 1px solid #666a72;
  cursor: pointer;
}
#passwd > input:focus {
  border: 2px solid #666a72;
}
.signup-form > .sp {
  width: 580px;
  font-size: 17px;
  margin-bottom: 15px;
}
.signup-form > .sp > a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #0064e0;
}
.signup-form > .sp > a:hover {
  text-decoration: underline;
}
.signup-form > .tp {
  width: 580px;
  font-size: 17px;
  margin-bottom: 15px;
}
.signup-form > .tp > a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #0064e0;
}
.signup-form > .tp > a:hover {
  text-decoration: underline;
}
.signup-form > .fp {
  width: 580px;
  font-size: 17px;
  margin-bottom: 15px;
}
.signup-form > .fp > a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #0064e0;
}
.signup-form > .fp > a:hover {
  text-decoration: underline;
}
.signup-form > .sub {
  width: 580px;
  height: 45px;
  border-radius: 25px;
  background-color: #0064e0;
  border: none;
  color: #fff;
  font-size: 18px;
}
.signup-form > .sub:hover {
  background-color: #005fd5;
  cursor: pointer;
}
.signup-form > .already {
  width: 580px;
  height: 45px;
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 18px;
  border: none;
  font-weight: 400;
  border: 1px solid #666a72;
  background-color: transparent;
  border-radius: 25px;
  font-weight: 600;
  margin-top: 12px;
}
.already > a {
  text-decoration: none;
  color: #101011;
}
.already:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  transition: 0.3s ease;
}
